- @icons = ['icon-reorder','icon-th-large','icon-bar-chart','icon-tasks','icon-bell','icon-archive','icon-comment','icon-sitemap','icon-thumbs-up','icon-tumblr']
%ul
  - @icons.each do |icon|
    %li
      %a.list-item{:href=>""}
        %i{:class=>"#{icon}"}