//- index.pug
doctype html
html
  head
    title Dance Academy
    style
      include ../static/style.css
  body
    nav#navbar 
        ul 
             li #[a(href="/") Home]
             li #[a(href="/") About]
             li #[a(href="/") Services]
             li #[a(href="/") Class Info]
             li #[a(href="/") Contact Us]
    section#introSection
        div.heading Welcome to Dance Academy
        div.subheading Eat Dance Sleep Repeat

    section#missionSection
        div.heading Our Mission
        p.subheading  #{mission}    
    section#ourSponsers 
        div.heading Our Sponsers
        div#sponsers
          img(src="../static/logo1.png", alt="Sponser's Image", class="spImage")
          img(src="../static/logo2.png", alt="Sponser's Image", class="spImage")
          img(src="../static/logo3.png", alt="Sponser's Image", class="spImage")
          img(src="../static/logo4.png", alt="Sponser's Image", class="spImage")
    footer#footer 
        div Copyright 2021 &copy; | DanceAcademy.com | All rights reserved
    script
      include ../static/index.js