<!DOCTYPE html>
<html>
  <head>
    <title>Contact Us Page For <%=websitename%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
  </head>
  <body>
<div class="container">
<br><br>
<h1 class="text-center">Contact Us Page For <%=websitename%></h1>
<br><br>
<p>If you face any sort of problems in using this website or any of the tools which are offered here you can contact me at anytime in the day.</p>
<p>You can contact me at my email id <code><%=email%></code> to ask your doubts about the services</p>
<p>And thanks very much for visiting the website. You can go to our privacy policy<a href="https://www.freemediatools.com">Free Media Tools</a> and the <a href="https://www.freemediatools.com/privacypolicygenerator/">Free Privacy Policy Generator</a>.</p>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</html>