<%-include('./partials/head'); %>
  <body>
    <%-include('./partials/navbar'); %>

      <div class="container">
          <h1 class="text-center">Count Pages inside PDF Document</h1>
    <div class="form-group container">
	<label for="file">Upload PDF File:</label>
        <input type="file" accept=".pdf" required id="files" class="form-control">
    </div>
    <br><br>
    <h1 class="text-primary container" id="result"></h1>
        <br><br>
        <%-include('./partials/services');%>
        <%-include('./partials/jumbotron');%>
      </div>
</body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.12.313/pdf.min.js"></script>
<script>

let inputElement = document.getElementById('files')

   inputElement.onchange = function(event) {

    var file = event.target.files[0];

    //Step 2: Read the file using file reader
    var fileReader = new FileReader();  

    fileReader.onload = function() {

        //Step 4:turn array buffer into typed array
        var typedarray = new Uint8Array(this.result);

        //Step 5:pdfjs should be able to read this
        const loadingTask = pdfjsLib.getDocument(typedarray);
        loadingTask.promise.then(pdf => {

            document.getElementById('result').innerHTML = "The number of Pages inside pdf document is " + pdf.numPages
            // The document is loaded here...
        });
                    

    };
    //Step 3:Read the file as ArrayBuffer
    fileReader.readAsArrayBuffer(file);
 
 }
</script>
</html>