<%-include('./partials/head'); %>
<body>
  <%-include('./partials/navbar'); %>

      <div class="container" id="title">
          <h1 class="text-center">
              Youtube Video URL Shortener Online
          </h1>
  <form id="form">
      <div class="form-group">
        <input type="text" class="form-control" id="url" placeholder="Enter Youtube Video URL" required>
      </div>
      <div class="form-group">
        <button class="btn btn-danger btn-block">
          Shorten Youtube URL
        </button>
      </div>
    </form>
    <div id="result">
      <div class="form-group">
        <input type="text" id="output" placeholder="Shorten URL" class="form-control text-center">
      </div>
    </div>
        <br><br>
        <%-include('./partials/services');%>
        <%-include('./partials/jumbotron');%>
      </div>
</body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="	https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
<script>
  $("#form").submit((e) => {
    e.preventDefault()
    var url = $("#url").val()
    shortenUrl(url)
  })
  function shortenUrl(url){
     $("#output").val(`
     
     https://youtu.be/${getvideoId(url)}
     
     `)
  }

  function getvideoId(url){
    var regExp = /^.*((youtu.be\/)|(v\/)|(\/u\/\w\/)|(embed\/)|(watch\?))\??v?=?([^#&?]*).*/;
    var match = url.match(regExp);
    return (match&&match[7].length==11)? match[7] : false;
  }
</script>
</html>