<style>
    .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}

</style>
<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Best Online Media Converter Tools 2020-21</h1>
        <p>It is the best Online Free Media Converter Tool Website which focuses on video,image, and audio conversion tools.These tools are very easy to use.The user interface is so simple and easy to use.</p>
        <br><br>
        <p><a class="btn btn-primary btn-lg" target="_blank" href="https://www.codingshiksha.com" role="button">Blog Website &raquo;</a></p>
        <br>
        <p><a class="btn btn-primary btn-lg" target="_blank" href="https://www.youtube.com/c/CodingShiksha/" role="button">Official Youtube Channel&raquo;</a></p>
      </div>
    </div>
  
    
      <hr>
  
    </div> <!-- /container -->
  
  </main>

<br><br>

<!--<div class="container">
  <h2 style="text-align:center;">How to Use FreeMediaTools</h2>
  <br><br>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/iowShoS5XO4"></iframe>
  </div>
</div>
<br><br>-->

<h2 style="text-align:center">Website Developer</h2>
<br><br>

<div class="card">
  <img src="img/profile.jpg" alt="John" style="width:100%">
  <h1>Gautam Sharma</h1>
  <p class="title">CEO & Founder, FreeMediaTools</p>
  <p>India</p>
  <div style="margin: 24px 0;">
    <a target="_blank" href="https://www.youtube.com/c/CodingShiksha/"><i class="fa fa-youtube"></i></a> 
    <a target="_blank" href="https://www.instagram.com/codingshiksha/"><i class="fa fa-instagram"></i></a>  
    <a target="_blank" href="https://www.facebook.com/geekygautam1997"><i class="fa fa-facebook"></i></a> 
  </div>
</div>
<br><br><br><br>

  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">FreeMediaTools.com <i>is a online media converter website</i> which is a initiative to help people to carry out the simpler tasks without any hassle.We focus to provide you the most up to date and latest tools in the market to make your life easier. All the tools which are made by me have been possible due to FFMPEG and ImageMagick Library.</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <!--<h6>Categories</h6>
          <ul class="footer-links">
            <li><a href="http://scanfcode.com/category/c-language/">C</a></li>
            <li><a href="http://scanfcode.com/category/front-end-development/">UI Design</a></li>
            <li><a href="http://scanfcode.com/category/back-end-development/">PHP</a></li>
            <li><a href="http://scanfcode.com/category/java-programming-language/">Java</a></li>
            <li><a href="http://scanfcode.com/category/android/">Android</a></li>
            <li><a href="http://scanfcode.com/category/templates/">Templates</a></li>
          </ul>-->
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="/">Home</a></li>
            <li><a target="_blank" href="/contactus">Contact Us</a></li>
            <li><a target="_blank" href="/privacypolicy">Privacy Policy</a></li>
            <li><a target="_blank" href="/sitemap.xml">Sitemap</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2021-22 All Rights Reserved by 
       <a href="/">FreeMediaTools</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="https://www.facebook.com/geekygautam1997"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="https://www.youtube.com/c/CodingShiksha/"><i class="fa fa-youtube"></i></a></li>
            <li><a class="instagram" href="https://www.instagram.com/codingshiksha/"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
</footer>
<!-- start webpushr code --> <script>(function(w,d, s, id) {if(typeof(w.webpushr)!=='undefined') return;w.webpushr=w.webpushr||function(){(w.webpushr.q=w.webpushr.q||[]).push(arguments)};var js, fjs = d.getElementsByTagName(s)[0];js = d.createElement(s); js.id = id;js.async=1;js.src = "https://cdn.webpushr.com/app.min.js";fjs.parentNode.appendChild(js);}(window,document, 'script', 'webpushr-jssdk'));webpushr('setup',{'key':'BNxMZX_OhJiB2HL5XuwC5E-9zmUVrQyNktjeyl8tu55c60wvy_2j44mu1IJgw2G4i8w1BuoPwJ38xwHvSECY7eU' });</script><!-- end webpushr code -->