<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v9.0&appId=603496006962121&autoLogAppEvents=1" nonce="uGP1HVzs"></script>
<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">FreeMediaTools</a>
        <button
          type="button"
          class="navbar-toggle collapsed"
          data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1"
        >
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li class="active"><a target="_blank" href="/contactus">Contact us</a></li>
          <!-- <li class="active">
            <a target="_blank" href="https://www.codingshiksha.com"
              >Official Blog</a
            >
          </li> -->
          <li class="active">
            <a target="_blank" href="https://www.youtube.com/c/CodingShiksha"
              >Youtube Channel</a
            >
          </li>
          <li class="active">
            <a target="_blank" href="/privacypolicy">Privacy Policy</a>
          </li>
	  <li class="active">
            <a target="_blank" href="/sitemap.xml">Sitemap</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- AddToAny BEGIN -->
<!-- <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
  <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
  <a class="a2a_button_whatsapp"></a>
  <a class="a2a_button_facebook"></a>
  <a class="a2a_button_twitter"></a>
  <a class="a2a_button_google_gmail"></a>
  <a class="a2a_button_linkedin"></a>
  <a class="a2a_button_reddit"></a>
  <a class="a2a_button_pinterest"></a>
  <a class="a2a_button_telegram"></a>
  </div>
  <script async src="https://static.addtoany.com/menu/page.js"></script> -->


<div class="form-group">

<!-- <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> -->
<!-- displayadfreemediatoolstoppage2 -->
<!-- <ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1962913110294817"
     data-ad-slot="3164368471"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script> -->

</div>






